.item1{
    background: url(../../assets/images/carousel1.jpg);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
}
    
.item2{
    background: url(../../assets/images/carousel2.jpg);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
}
    

.item3{
    background: url(../../assets/images/carousel3.webp);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
}



  @media (max-width: 428px) {
    .container {
      padding: 0 10px;
    }
  
    .product-card, .blog-card {
      margin-bottom: 12px;
    }
  
    .product-card .title {
      font-size: 0.9rem;
    }
  
    .tabs-container {
      text-align: center;
    }
  
    .carousel-item img {
      height: auto;
    }
  
    .product-card img, .blog-card img {
      width: 100%;
      height: auto;
    }
  }
  