.menu-icon, .close {
    display: none;
  }


@media (max-width: 428px) {
    nav {
      
      padding: 1rem;
    }
  
  
    .logo-menu-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  
  
    nav img {
      height: 30px; 
    }
  
  
    .links {
      width: 100%;
      display: none; 
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  
    .links ul {
      flex-direction: column;
      gap: 1rem;
    }
  
    .links li {
      font-size: 0.9rem;
    }
  
    .right {
      margin-top: 1rem;
    }
  
    
    .menu-icon {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  
   
    #switcher:checked ~ .links {
      display: flex;
    }
  }